<app-store-nav></app-store-nav>
<div class="main">
  <div class="minvan">
    <h2>MinVan</h2>
    <div class="images">
      <img src="../../../assets/img/minvan.jpg" class="img1" alt="">
      <img src="../../../assets/img/minvan2.jpg" class="img2" alt="">
      <img src="../../../assets/img/minvan3.jpg" class="img3" alt="">
    </div>
  </div>
  <div class="pickup">
    <h2>Pick Up</h2>
    <div class="images">
      <img src="../../../assets/img/pickup.jpg" class="img1" alt="">
      <img src="../../../assets/img/pickup2.jpg" class="img2 edit" alt="">
      <img src="../../../assets/img/pickup3.jpg" class="img3" alt="">
    </div>
  </div>
  <div class="jumbo">
    <h2>Jumbo</h2>
    <div class="images">
      <img src="../../../assets/img/jumbo.jpg" class="img1" alt="">
      <img src="../../../assets/img/jumbo2.jpg" class="img2" alt="">
      <img src="../../../assets/img/jumbo3.jpg" class="img3" alt="">
    </div>
  </div>
  <div class="flatbedtrailer">
    <h2>Flatbed Trailer</h2>
    <div class="images">
      <img src="../../../assets/img/Flatbed Trailer.jpg" class="img1" alt="">
      <img src="../../../assets/img/Flatbed Trailer2.jpg" class="img2" alt="">
    </div>
  </div>
  
</div>