
.data{
  margin-left: 0%;
  margin-top: 0%;
  width: 100%;
}
table th , table td{
  width: 25%;
  text-align: center;
}
a{
  color: black;
}
.bb{
  position: fixed;
  top: 17%;
  right: 2%;
  width: 8%;
  background:none;
  border: teal;
}

.table-user{
  margin: 2% 2%;
  background-color: teal;
  border-radius: 10px;
  border: none;
  padding-bottom: 5%;
}
.table-user h2{
  text-align: center;
  color: white;
  margin-bottom: 3%;
}
table{
  width: 90%;
  margin-left: 5%;
}
tr{
  width: 100%;
}

thead{
  height: 20px;
  background-color: aquamarine;
  text-align: center;
  
}
img{
  width: 25%;
  border-radius: 50px;
}
.button{
  background: none;
  border: none;
  color: black;
}.bt{
  background: white;
  border: none;
}
tr{
  border-bottom: .5px solid gray;
}
.color{
  background-color: tomato;
}
.form{
  display: flex;
  background-color: white;
  border-radius: 10px;
  padding: auto;
  width: 80%;
  color: white;
  margin-left: 10%;
  margin-bottom: 5%;
  margin-top: 5%;
}
.form button{
  background: #0c0a5d;
  border-radius: 5px;
  border: none;
  padding: auto;
  width: 15%;
    margin-left: 5%;
}
p{
  color: red;
  margin-top: 0%;
  text-align: center;
}
.form input{
  border: 1px solid gray;
}
.bb{
  position: absolute;
  top: 35%;
  right: 10%;
  background: none;
  border: none;
}
tbody{
  background-color: white;
  color: black
}