.navbar{
  background-color: black;
}
img{
  width:20%;
}
.navbar-header{
  width: 30%;
}
.nav{
  width: 50%;
 padding: 0;
}
li{
  width: 20%;
  
}
button{
  border: none;
  background: none;
  cursor: pointer;
  color: gray;
  display: flex;
}
button:hover{
  color: white;
}
button:focus{
  border: none;
  background-color: none;
  outline: none;

}
.li{
  width: 12%;
}
.sp{
  position: absolute;
    top: 0px;
    left: 57.4%;
    border-radius: 30px;
}
a{
  text-decoration: none;
  color: grey;
  display: flex;
  cursor: pointer;
}
a:hover{
  color: white;
}
.ul{
  width: 10%;
}
.ul li{
  width: 100%;
}
.logout{
  border: none;
    background: none;
    color: antiquewhite;
}