<app-admin-nav></app-admin-nav>
<div class="container">
  <div class="form-groub form">
    <input type="search" name="email" [(ngModel)]="email" id="" class="form-control" placeholder="Enter Admin Email">
    <button class="bnt btn-success" [disabled]="!email" (click)="findByEmail()"><i class="fa fa-search"></i></button>
  </div>
  <p>{{message}}</p>
  <div class="data">
    <button class="btn btn-success bb" (click)="getAll()"><i class="fa fa-reply"></i></button>
    <div class="table-user">
      <h2>Admins</h2>
        <table>
          <thead>
            <tr>
              <th scope="col">UserName</th>
              <th scope="col">Eamil</th>
              <th scope="col">Phone</th>
              <th scope="col">detailes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              <td>{{user.phone}}</td>
              <td><button class="bt" (click)="getUser(user.username , user.email)"><i class="fa fa-info-circle"></i></button></td>
            </tr>
            
          </tbody>
        </table>
    </div>
    
  </div>
  
</div>