.body{
  background-color: #0a0a8a;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;

}
.message{
  color: red;
  background-color: #CAA3AA;
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
  font-style: oblique;
}
.eq{
  color: red;
  font-size: 13px;
  font-style: inherit;
  font-family: inherit;
}
.mes{
  color: white;
}
.work{
  background-color: white;
  margin-left: 20%;
  width: 60%;
  text-align: center;
  padding-top: 10%;
  height: 100%;
}
img{
  width: 30%;
}
.form{
  margin-top: 10%;
}
.fixed{
  width: 30%;
    margin-left: 25%;
    position: fixed;
    top: 40%;
    left: 10%;
    background-color: #e40997;
    padding: 5%;
    box-shadow: 5px 5px #17ca1c94;
}
div.disable{
  pointer-events: none;
  opacity: 0.5;
  background-color: #ccc;
}

h4{
  color: #637968
}
.email{
  width: 70%;
  margin-left: 15%;
  margin-top: 3%;
}
input{
  border: 2px solid #7878e8;
}
button{
  width: 70%;
  margin-top: 5%;
}