<div class="body">
  <div class="work">
    <img src="../../../assets/img/logo.png" alt="logo">
    <div class="form">
      <form (ngSubmit)="search()" *ngIf="!ok">
        <h4>Enter your Email please !</h4>
        <div class="form-group email">
          <input type="text" class="form-control" name="email" [(ngModel)]="email"  placeholder="Email">
        </div>
        <div class="form-group">
          <button class="btn btn-success" type="submit">Enter</button>
        </div>
      </form>
        <div class="pass" *ngIf="ok">
          <form (ngSubmit)="updateUser()">
            <h4>Please Enter new Password</h4>
          <div class="form-group email">
            <input type="password" class="form-control" name="password" minlength="8" [(ngModel)]="password"  placeholder="Password">
          </div>
          <h4>Please ReEnter new Password</h4>
          <div class="form-group email">
            <input type="password" class="form-control" name="conpass" minlength="8" [(ngModel)]="conpass"  placeholder="RePassword">
          </div>
          <div class="form-group">
            <button class="btn btn-success" type="submit">Enter</button>
          </div>
          </form>
        </div>
    </div>
  </div>
</div>