<app-admin-nav></app-admin-nav>
<div class="page">
  <div class="data">
    <button class="btn btn-success bb" (click)="getAll()"><i class="fa fa-reply"></i></button>
    <div class="table-user">
      <h2>Messages</h2>
        <table>
          <thead>
            <tr>
              <th>UserName</th>
              <th>Email</th>
              <th>Message</th>
              <th>Date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let message of messages" [ngClass]="{color: message.id % 2 !== 0}">
              <td>{{message.username}}</td>
              <td>{{message.email}}</td>
              <td>{{message.message}}</td>
              <td>{{message.date}}</td>
              <td>
                <button class="btn btn-danger button" (click)="deleteMessage(message.id)"><i class="fa fa-remove"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    
  </div>
</div>