
<div class="page">
  <div class="main">
    <app-main-nav></app-main-nav>
  <div class="work">
   <div class="things">
     <div class="myaccount active">
       <a routerLink="/account">
        <i class="fa fa-file"></i><br>
        My Account
      </a>
      </div>  
     <div class="order">
        <a routerLink="/welcome">
         <i class="fa fa-truck"></i><br>
         Order Now
       </a>
     </div>
     <div class="myorders">
      <a routerLink="/myOrders">
        <i class="fa fa-table"></i><br>
        My Orders
      </a>
     </div>
   </div>
  </div>
  

<table>
  <tr>
    <th>From</th>
    <th>To</th>
  </tr>
  <tr>
    <th> <input type="date" class="form-control"  name="from" [(ngModel)]="from" placeholder="From "> </th>
    <th> <input type="date" class="form-control" name="to" [(ngModel)]="to" placeholder="To "> </th>
  </tr>  
</table>
<button class="btnbtn" (click)="request()">Request Tax Receipt</button>
<table class="tab">
  <thead>
    <tr>
      <th>Order Number</th>
      <th>Date</th>
      <th>Total fees</th>
    </tr>
  </thead>
  <tr *ngIf="!orders">
    <td></td>
    <td><p>no order here </p></td>
    <td></td>
  </tr>
  <tr *ngFor="let order of orders">
    <td>{{order.code}}</td>
    <td>{{order.time}}</td>
    <td>{{order.price}}$</td>
  </tr>
  <tr class="tr">
    <td></td>
    <td></td>
    <td>{{price}}$</td>
  </tr>
</table>
  </div>
</div>

