table{
  width: 80%;
  height: 100%;
  margin-top: 0%;
  margin-left: 15%;
  margin-bottom: 20px;
}
input[type=date]{
  width: 60%;
  padding: 2%;
  font-weight: bold;
}
a:focus{
  outline: none;
}
.btnbtn{
  margin-left: 40%;
    background: #0b0b73;
    color: white;
    font-weight: bold;
    font-style: italic;
    font-family: none;
    border: none;
    padding: 1%;
    margin-top: 0%;
    border-radius: 7px;
}
tr p{
  font-size: 25px;
}
.page{
  background-color: #040450;
  height: 100%;
}
.main{
  width: 90%;
  background-color: white;
  margin-left: 5%;
  height: 100%;
}
.work{
  border-bottom: 1px solid #756c6c;
  border-top: 1px solid #756c6c;
  padding: 1%;
  margin-top: 0%;
  background: #949ca2;
}
.things{
  display: flex;
  
}
.myaccount , .order , .myorders{
  margin: 0% 15%;
  text-align: center;
}
.myaccount a , .order a , .myorders a{
  text-decoration: none;
  text-align: center;
  color: #35373a;
}
.myaccount i , .order i , .myorders i{
  color: #35373a;
  font-size: 30px;
  text-align: center;
}
.active i , .active a{
  color: #f3cf00;
}
th , td{
  text-align: center;
}
td{
  font-weight: bold;
  color: #7400f3;
  font-size: 20px;
}
.tab thead{
  border-bottom: 1px solid gray;
}
.tr{
  border-top: 1px solid gray;
}