<app-admin-nav></app-admin-nav>
<div class="page">
  <div class="work">
    <div class="img">
      <img [src]="reterviedImage" alt="">
      <div class="wating" *ngIf="load">
        <div class="loading"></div>
      </div>
    </div>
    <div class="data">
      <h2>{{order.code}}</h2>
      <table>
        <tr>
          <th>Delivery Method</th>
          <td>{{order.delivery_method}}</td>
        </tr>
        <tr>
          <th>Vehicle Type</th>
          <td>{{order.vehicle_type}}</td>
        </tr>
        <tr>
          <th>Pickup Location</th>
          <td>{{order.pickup_Location}}</td>
        </tr>
        <tr>
          <th>Mobile</th>
          <td>{{order.mobile}}</td>
        </tr>
        <tr>
          <th>Discription</th>
          <td>{{order.discription}}</td>
        </tr>
        <tr>
          <th>Client Name</th>
          <td>{{order.client_name}}</td>
        </tr>
        <tr>
          <th>Address</th>
          <td>{{order.address}}</td>
        </tr>
        <tr>
          <th>Price</th>
          <td>{{order.price}}</td>
        </tr>
        
        <tr>
          <th>Payment Method</th>
          <td>{{order.payment_method}}</td>
        </tr>
        <tr>
          <th>Time</th>
          <td>{{order.time}}</td>
        </tr>
        <tr>
          <th>user</th>
          <td>{{order.user.email}}</td>
        </tr>
        <br>
        <tr>
          <td>
            <button class="btn btn-danger " (click)="refuse()" *ngIf="order.ok === false">Refuse</button>
          </td>
          <td>
            <button class="btn btn-success" (click)="getCompany(order.pickup_Location)" *ngIf="order.ok === false">Accept</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="company" *ngIf="showCompany">
  <i class="fa fa-remove" (click)="back()"></i>
  <h2>Choose The Company please ! </h2>
  <div class="activeCopmpany" *ngFor="let user of users">
     <h4>{{user.username}}</h4>
     <button class="btn btn-info" (click)="getCompayData(user.email)">GetDetailes</button>
  </div>
</div>