.page{
  display: flex;
}
.side{
  width: 20%;
}
.work{
  display: flex;
}
img{
  position: fixed;
    top: 30%;
    margin-left: 5%;
    width: 30%;
    box-shadow: 5px 5px gainsboro;
}
.data{
  position: fixed;
  top: 20%;
  left: 60%;
}
h2{
  text-align: left;
  margin-bottom: 5%;
  color: crimson;
}
table{
  text-align: center;
}
.company{
  position: fixed;
  top: 20%;
  left: 10%;
  height: 400px;
  width: 80%;
  border: 1px solid #CCC;
  border-radius: 10px;
  text-align: center;
  background-color: darkorange;
}
.company h2{
  text-align: center;
  color: black;
}
.activeCopmpany{
  border: 1px solid #CCC;
  width: 20%;
  background-color: lemonchiffon;
  border-radius: 10px;
  margin-left: 5%;
  float: left;
  height: 100px;
}
.activeCopmpany h4{
  margin-top: 10%;
}

.wating{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}
.loading{
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 10px solid #e74c3c;
  position: fixed;
  left: 15%;
  top: 50%;
  animation: a1 2s linear infinite;
}
.loading::before,.loading::after{
  content: '';
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0px;  
  top: -10px;
  box-sizing: border-box;
  border-radius: 50%;
}
.loading::before{
  border-top: 10px solid #e67e22;
  transform: rotate(120deg);
}
.loading::after{
  border-top: 10px solid #3498db;
  transform: rotate(270deg);
}
@keyframes a1{
  to{
    transform: rotate(360deg);
  }
}
@keyframes a2{
  to{
    transform: rotate(-360deg);
  }
}
.company i {
  position: fixed;
    right: 11%;
    top: 21%;
    font-size: 20px;
    color: white;
    cursor: pointer;
}