.page{
  display: flex;
}
.side{
  width: 20%;
}
.work{
  display: flex;
}
img{
  position: fixed;
    top: 30%;
    margin-left: 5%;
    width: 30%;
    box-shadow: 5px 5px gainsboro;
}
.data{
  position: fixed;
  top: 20%;
  left: 60%;
}
h2{
  text-align: left;
  margin-bottom: 5%;
  color: crimson;
}
table{
  text-align: center;
}
.company{
  position: fixed;
  top: 20%;
  left: 10%;
  height: 400px;
  width: 80%;
  border: 1px solid #CCC;
  border-radius: 10px;
  text-align: center;
  background-color: darkorange;
}
.company h2{
  text-align: center;
  color: black;
}
.activeCopmpany{
  border: 1px solid #CCC;
  width: 20%;
  background-color: lemonchiffon;
  border-radius: 10px;
  margin-left: 5%;
  float: left;
  height: 100px;
}
.activeCopmpany h4{
  margin-top: 10%;
}
