

<div class="mainPage">
  <div class="working" *ngIf="show">
    <div class="loading">
      <div class="obj"></div>
      <div class="obj"></div>
      <div class="obj"></div>
      <div class="obj"></div>
      <div class="obj"></div>
      <div class="obj"></div>
      <div class="obj"></div>
      <div class="obj"></div>
    </div>
  </div>
  <div class="page" *ngIf="!show">
    <div class="image" >
      <img [src]="reterviedImage" *ngIf="reterviedImage" alt="">
      <img src="../../../../assets/img/person.jpg" *ngIf="!reterviedImage" alt="">
      <button class="btn1 edit"  (click)="importImage()"><i class="fa fa-edit"></i></button>
      <div class="form" *ngIf="imp">
        <div class="container row">
          <div class="col-md-6">
            <input type="file" (change)="onFileChanged($event)">
          </div>
          <div class="col-md-6">
            <input type="button" class="btn btn-success" value="Upload" (click)="upload()">
          </div>
        </div>
      </div>
    </div>
    <div class="data">
      <div class="work">
        
      </div>
      <h2>{{user.username}}</h2>
      <div class="info">
        
        <table class="table table-striped table-dark">
          
          <tr class="dark">
            <th>Email</th>
            <td>{{user.email}}</td>
          </tr>
          <tr class="light">
            <th>Phone</th>
            <td>{{user.phone}}</td>
          </tr>
          <tr class="red">
            <th>City</th>
            <td>{{user.address.city}}</td>
          </tr>
          <tr class="green">
            <th>Country</th>
            <td>{{user.address.country}}</td>
          </tr>
          <tr>
            <th>FullAddress</th>
            <td>{{user.address.addressDet}}</td>
          </tr>
        </table>
        <p>if you want update your data please <a routerLink="/welcome/updatedata"><button class="btn btn-success">click here</button></a></p>
      </div>  
    </div>
  </div>
</div>