
.row{
  margin-right: 0px;
}
.div{
  text-align: center;
  margin-top: 5%;
}
ul{
  margin-top: 5%;
  text-align: center;
  margin-left: 10%;
  width: 80%;
  display: flex;
}
li{
  list-style: none;
}
li{
  width: 30%;
}
i{
  border-radius: 6px;
    font-size: 50px;
    color: white;

    background: #172752;
    padding: 10px;
}
.sendMessage{
  margin-left: 20%;
  width: 60%;
  margin-top: 5%;
  margin-bottom: 7%;
}
.usena{
  width: 48%;
    margin-right: 2%;
}
input{
  height: 50px;
}
textarea{
  height: 300px;
}
.no-border{
    box-shadow: none;
}
.inputfield{
  display: flex;
  width: 100%;
}
.inputfield input {
  width: 100%;
}
p{
  color: red;
}
button{
  width: 100%;
}
dialog{
  position: fixed;
    width: 30%;
    background-color: thistle;
    color: black;
    margin-left: 40%;
    top: 30%;
    text-align: center;
    border-radius: 10px;
}