
<div class="page">
  <div class="main">
    <app-main-nav></app-main-nav>
  <div class="work">
   <div class="things">
     <div class="myaccount">
       <a routerLink="/account">
        <i class="fa fa-file"></i><br>
        My Account
      </a>
      </div>
     <div class="order">
        <a routerLink="/welcome">
         <i class="fa fa-truck"></i><br>
         Order Now
       </a>
     </div>
     <div class="myorders active">
      <a routerLink="/myOrders">
        <i class="fa fa-table"></i><br>
        My Orders
      </a>
     </div>
   </div>
  </div>
  <button class="btn btn-success button" (click)="click()" *ngIf="show"><i class="fa fa-arrow-left"></i></button>
  <table class="table" *ngIf="!show">
    <tr>
      <th>delivery_method</th>
      <th>Code</th>
      <th>Description</th>
      <th>Date</th>
      <th>Ditalies</th>
    </tr>
    <tr *ngFor="let order of orders">
      <td>{{order.delivery_method}}</td>
      <td>{{order.code}}</td>
      <td>{{order.discription}}</td>
      <td>{{order.time}}</td>
      <td><button (click)="getOrder(order.code)" class="btn btn-success">Detailes</button></td>
    </tr>
  </table>

  <div class="show" *ngIf="show">
  <div class="img">
    <img [src]="reterviedImage" alt="image">
  </div>
  <div class="myorder">
    <div class="data">
      <h2>{{order.code}}</h2>
      <table>
        <tr>
          <th>Delivery Method</th>
          <td>{{order.delivery_method}}</td>
        </tr>
        <tr>
          <th>Vehicle Type</th>
          <td>{{order.vehicle_type}}</td>
        </tr>
        <tr>
          <th>Pickup Location</th>
          <td>{{order.pickup_Location}}</td>
        </tr>
        <tr>
          <th>Mobile</th>
          <td>{{order.mobile}}</td>
        </tr>
        <tr>
          <th>Discription</th>
          <td>{{order.discription}}</td>
        </tr>
        <tr>
          <th>Client Name</th>
          <td>{{order.client_name}}</td>
        </tr>
        <tr>
          <th>Address</th>
          <td>{{order.address}}</td>
        </tr>
        <tr>
          <th>Price</th>
          <td>{{order.price}}</td>
        </tr>
        
        <tr>
          <th>Payment Method</th>
          <td>{{order.payment_method}}</td>
        </tr>
        <tr>
          <th>Time</th>
          <td>{{order.time}}</td>
        </tr>
        
      </table>
  </div>
  </div>
