
<div class="page">
  <div class="main">
    <app-main-nav></app-main-nav>
  <div class="work">
   <div class="things">
     <div class="myaccount">
       <a routerLink="/account">
        <i class="fa fa-file"></i><br>
        My Account
      </a>
      </div>
     <div class="order">
        <a routerLink="/welcome">
         <i class="fa fa-truck"></i><br>
         Order Now
       </a>
     </div>
     <div class="myorders active">
      <a routerLink="/myOrders">
        <i class="fa fa-table"></i><br>
        My Orders
      </a>
     </div>
   </div>
  </div>
  <div class="orderworks">
    <div class="done" [ngClass]="{act: done}">
      <button (click)="getDone()">Finished Orders</button>
    </div>
    <div class="accepted" [ngClass]="{act: wait}">
      <button (click)="getWait()">Accepted Orders</button>
    </div>
    <div class="wait" [ngClass]="{act: new}">
      <button (click)="getNew()">Waiting Orders</button>
    </div>
  </div>
  <button class="btn btn-success button" (click)="click()" *ngIf="show"><i class="fa fa-arrow-left"></i></button>
  <div class="table" *ngIf="!show">
    <table class="table" *ngIf="done">
      <tr>
        <th>delivery_method</th>
        <th>Code</th>
        <th>Date</th>
        <th>Ditalies</th>
        
      </tr>
      <tr *ngFor="let order of doneOrders">
        <td>{{order.delivery_method}}</td>
        <td>{{order.code}}</td>
        <td>{{order.time}}</td>
        <td><button (click)="getOrder(order.code)" class="btn btn-success"><i class="fa fa-info-circle"></i></button></td>
        <td *ngIf="order.ok === false"><button class="btn btn-danger" (click)="remove(order.id , order.code)"><i class="fa fa-remove"></i></button></td>
      </tr>
    </table>
    <table class="table" *ngIf="wait">
      <tr>
        <th>delivery_method</th>
        <th>Code</th>
        <th>Date</th>
        <th>Ditalies</th>
        
      </tr>
      <tr *ngFor="let order of waitOrders">
        <td>{{order.delivery_method}}</td>
        <td>{{order.code}}</td>
        <td>{{order.time}}</td>
        <td><button (click)="getOrder(order.code)" class="btn btn-success"><i class="fa fa-info-circle"></i></button></td>
        <td *ngIf="order.ok === false"><button class="btn btn-danger" (click)="remove(order.id , order.code)"><i class="fa fa-remove"></i></button></td>
      </tr>
    </table>
    <table class="table" *ngIf="new">
      <tr>
        <th>delivery_method</th>
        <th>Code</th>
        <th>Date</th>
        <th>Ditalies</th>
      </tr>
      <tr *ngFor="let order of newOrders">
        <td>{{order.delivery_method}}</td>
        <td>{{order.code}}</td>
        <td>{{order.time}}</td>
        <td><button (click)="getOrder(order.code)" class="btn btn-success"><i class="fa fa-info-circle"></i></button></td>
        <td *ngIf="order.ok === false"><button class="btn btn-danger" (click)="remove(order.id , order.code)"><i class="fa fa-remove"></i></button></td>
      </tr>
    </table>
  </div>
  

  <div class="show" *ngIf="show">
  <div class="img">
    <img [src]="reterviedImage" alt="image">
  </div>
  <div class="myorder">
    <div class="data">
      <h2>{{order.code}}</h2>
      <table>
        <tr>
          <th>Delivery Method</th>
          <td>{{order.delivery_method}}</td>
        </tr>
        <tr>
          <th>Vehicle Type</th>
          <td>{{order.vehicle_type}}</td>
        </tr>
        <tr>
          <th>Pickup Location</th>
          <td>{{order.pickup_Location}}</td>
        </tr>
        <tr>
          <th>Mobile</th>
          <td>{{order.mobile}}</td>
        </tr>
        <tr>
          <th>Discription</th>
          <td>{{order.discription}}</td>
        </tr>
        <tr>
          <th>Client Name</th>
          <td>{{order.client_name}}</td>
        </tr>
        <tr>
          <th>Address</th>
          <td>{{order.address}}</td>
        </tr>
        <tr>
          <th>Price</th>
          <td>{{order.price}} L.E</td>
        </tr>
        
        <tr>
          <th>Payment Method</th>
          <td>{{order.payment_method}}</td>
        </tr>
        <tr>
          <th>Time</th>
          <td>{{order.time}}</td>
        </tr>
        <tr>
          <th>Number of Cars</th>
          <td>{{order.car}}</td>
        </tr>
      </table>
  </div>
  </div>
