<app-store-nav></app-store-nav>
<div class="container " >
	<div class="row">
    <div class="col-md-7 ">
<div class="panel panel-default">
   <div class="panel-body">
    <div class="box box-info">
            <div class="box-body" >
                     <div class="col-sm-6 ib" >
                     <div  align="center"> <img alt="User Pic" [src]="personalImage" id="profile-image1" class="img-circle"> 
                
                     </div>
              
              <br>
    
              <!-- /input-group -->
            </div>
            
            <div class="clearfix"></div>
    
              
<div class="col-sm-5 col-xs-3 tital " >  <i class="fa fa-user" aria-hidden="true"></i>UserName:</div><div class="col-sm-7 col-xs-6 ">{{user.username}}</div>
     <div class="clearfix"></div>
<div class="bot-border"></div>


<div class="col-sm-5 col-xs-6 tital " > <i class="fa fa-envelope" aria-hidden="true"></i> Email:</div><div class="col-sm-7 col-xs-6 "> <a style="color: blue;">{{user.email}}</a></div>

  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " ><i class="fa fa-phone" aria-hidden="true"></i>Phone:</div><div class="col-sm-7">{{user.phone}}</div>

  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " ><i class="fa fa-home" aria-hidden="true"></i>Addresss:</div>
<div class="col-sm-7"><label for="country" >Goverment:- </label>{{user.address.country}}</div>
<div class="col-sm-7"><label for="city">City :- </label>{{user.address.city}}</div>
<div class="col-sm-7"><label for="addressDet" >Detailes Of Address:- </label>{{user.address.addressDet}}</div>

 <div class="clearfix"></div>
<div class="bot-border"></div>




            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
    </div>
</div>

            
    </div> 
    </div>
</div>  
       
         
<div class="container ">
  <div class="con">
    <div class="col-sm-5 col-xs-6 img">
      <img [src]="reterviedImage" class="im"></div>
    <div class="col-sm-5 col-xs-6 img">
      <img [src]="reterviedImage2" class="im"></div>
    <div class="col-sm-5 col-xs-6 img">
      <img [src]="reterviedImage3" class="im"></div>
    <div class="col-sm-5 col-xs-6 img">
      <img [src]="reterviedImage4" class="im"> 
    </div>
  </div>
</div>
       
       