<div class="nav">
  <nav>
    <div class="logo">
      <a routerLink="/welcome"><img src="../../../../assets/img/logo.png" alt=""></a>
    </div>
    <div class="info">
      <ul class="ul">
        <li (click)="remove()">
          <button>
            <i class="fa fa-bell"></i>
          </button>
        </li>
        <li>
          <button (click)="click()">
            <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false">
              {{user.username}} <span class="caret"></span>
            </a>
          </button>
        </li>
      
      </ul>
      <dialog open *ngIf="show">
        <ul>
          <li><a routerLink="/notifications">Notifications</a></li>
          <li><a routerLink="/myWallet">My Wallet</a></li>
          <li><a routerLink="/myProfile">My Profile</a></li>
          <li><button (click)="logout()">Logout</button></li>
        </ul>  
      </dialog>
    </div>
  </nav>
</div>