<app-nav></app-nav>
<div class="work">
  <div class="left" id="map">
    <div id="map" style="width: 100%; height: 100%;"></div>
  </div>
  <div class="right">
    <div class="intro">
      <h2>Calculate delivery</h2>
      <p>
        How much does it cost to charge in your city?<br>
        Calculate the fare estimate for your next delivery. Just you
        Select the vehicle type and enter the delivery location and destination to start
      </p>
    </div>
    <div class="form">
      <form (ngSubmit)="getDistance()">
        <div class="form-group">
          <select name="number" [(ngModel)]="number">
            <option value="0">Choose Number of cars </option>
            <option value="1">Single</option>
            <option value="2">Two</option>
            <option value="3">More</option>
          </select>
        </div>
        <div class="cars">
          <div class="truck">
            <img src="../../../assets/img/truck-new.png" alt="truck">
            <h5>Truck</h5>
            <input type="radio" name="car" [(ngModel)]="car" value="100">
          </div>
          <div class="semi">
            <img src="../../../assets/img/semi-truck-new.png" alt="semi-truck">
            <h5>Semi</h5>
            <input type="radio" name="car" [(ngModel)]="car" value="50">
          </div>
          <div class="van">
            <img src="../../../assets/img/van-new.png" alt="van">
            <h5>Van</h5>
            <input type="radio" name="car" [(ngModel)]="car" value="25">
          </div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="From" name="from" [(ngModel)]="from">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="To" name="to"  [(ngModel)]="to">
        </div>
        <div class="form-group">
          <button class="form-control btn" type="submit" [disabled]="!car || !number || number === 0 || !to || !from" >Calculate</button>
        </div>
      </form>
    </div>
    <div class="info" *ngIf="show && dist">
      <p>The distance between {{from}}, {{to}}: <span>{{dist}} km</span>  <br>
        Time take to travel: <span>1 hour 42 mins</span></p>
        <p>Charge to be paid: <span>EGP {{price}}</span></p>
    </div>
    <div class="info" *ngIf="network && !dist">
      <h3>{{network}}</h3>
    </div>
    <div class="wating" *ngIf="wait">
      <div class="loading">
        <span>loading... </span>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>

<script type="text/javascript">
  window.onload = function() {
    L.mapquest.key = 'lYrP4vF3Uk5zgTiGGuEzQGwGIVDGuy24';

    var map = L.mapquest.map('map', {
      center:{lat:41.85 , lng:-87.65},
      layers: L.mapquest.tileLayer('map'),
      zoom: 13
    });

    L.mapquest.directions().route({
      start: 'cairo',
      end: 'tanta'
    });
  }
</script>