<app-nav></app-nav>
<div class="container">
  <div class="info">
    <div class="fac">
      <h2>Welcome in 3alafyn website</h2>
      <p>This site is a graduation project for students from the Faculty of Computers and Information, Menoufia University</p>
    </div>
    <div class="mem">
      <h2>Team members</h2>
      <table>
        <tbody>
          <tr>
            <td><h3>Karim Mohamed Maged</h3></td>
            <td><a href=""><i class="fa fa-facebook"></i></a></td>
            <td><a href=""><i class="fa fa-instagram"></i></a></td>
            <td><a href=""><i class="fa fa-twitter"></i></a></td>
          </tr>
          <tr>
            <td><h3>Ahmed Zaid</h3></td>
            <td><a href=""><i class="fa fa-facebook"></i></a></td>
            <td><a href=""><i class="fa fa-instagram"></i></a></td>
            <td><a href=""><i class="fa fa-twitter"></i></a></td>
          </tr>
          <tr>
            <td><h3>Amr Nouh</h3></td>
            <td><a href=""><i class="fa fa-facebook"></i></a></td>
            <td><a href=""><i class="fa fa-instagram"></i></a></td>
            <td><a href=""><i class="fa fa-twitter"></i></a></td>
          </tr>
          <tr>
            <td><h3>Osman</h3></td>
            <td><a href=""><i class="fa fa-facebook"></i></a></td>
            <td><a href=""><i class="fa fa-instagram"></i></a></td>
            <td><a href=""><i class="fa fa-twitter"></i></a></td>
          </tr>
          <tr>
            <td><h3>Amr Elsebeay</h3></td>
            <td><a href=""><i class="fa fa-facebook"></i></a></td>
            <td><a href=""><i class="fa fa-instagram"></i></a></td>
            <td><a href=""><i class="fa fa-twitter"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-footer></app-footer>
