.container{
  margin-top: 10px;
  text-align: center;
}
table{
  margin-top: 5%;
  width: 60%;
  margin-left: 20%;
  text-align: center;
  margin-bottom: 5%;
}
tr{
  border-bottom: 1px solid gray;
}
i{
  font-size: 20px;
}
h2{
  font-size: 50px;
    color: black;
}
p{
  margin-left: 20px;
}