<div class="boy">
	<div class="work">
		<div class="logo">
			<a routerLink="/home"><img src="../../../assets/img/login.png" alt="login"></a>
			<p>every thing can be moved</p>
		</div>
		<hr>
		<div class="loginwork">
			<div class="form">
				<div class="error">{{error}}</div>
				<form #userForm="ngForm" (ngSubmit)="getUserByEmailAndPassword(userForm)">
					<div class="form-group">
						<div class="user">
							<input type="text" class="form-control no-border" name="email" [(ngModel)]="email" #userEmail=ngModel 
								[ngClass]="{'is-invalid': userEmail.errors && userEmail.touched}" required placeholder="Email">
							<i class="fa fa-user"></i>
						</div>
						<div class="invalid-feedback" [hidden]="!userEmail.errors?.required">
							<p>Email is required</p>
						</div>
					</div>
					<div class="form-group">
						<div class="pass">
							<input type="password" class="form-control no-border" name="password" [(ngModel)]="password" #userPassword=ngModel [ngClass]="{'is-invalid': userPassword.errors && userPassword.touched}" minlength="8" required placeholder="Password">
							<i class="fa fa-lock"></i>
						</div>
						<div class="invalid-feedback" [hidden]="!userPassword.errors?.required">
							<p>Password is required</p>
						</div>
						<div class="invalid-feedback" [hidden]="!userPassword.errors?.minlength">
							<p>Password must be at least 8 characters</p>
						</div>
					</div>
					<div class="form-group btn1">
						<button class="btn btn-success" type="submit">Login</button>
					</div>
				</form>
				<div class="forgot">
					<P><a class="lin" routerLink="/password">Forgot your Password?</a></P>
				</div>
				<div class="form-group btn1">
					<a routerLink="/register"><button class="button1">Register</button></a>
				</div>
			</div>
		</div>
	</div>
</div>
