<app-nav></app-nav>
<div class="car">
  <owl-carousel-o [options]="customOptions" >
    <ng-template carouselSlide>
      <h2 class="mo">Moving Your Furniture</h2>
      <img src="../../../assets/img/r4.png" alt="">
    </ng-template>  
    <ng-template carouselSlide>
      <h2 class="mo">Moving Your House</h2>
      <img  src="../../../assets/img/r3.png" alt="">
    </ng-template>  
    <ng-template carouselSlide>
      <h2 class="mo">Moving Your Goods</h2>
      <img src="../../../assets/img/r.png" alt="">
    </ng-template>  
    </owl-carousel-o>
</div>
<div class="container">
  <div class="row">
      <div class="col-sm-6">
        <div class="truck">
          <div class="body">
            <img src="../../../assets/img/larg.png" class="larg">
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="text">
          <div class="body">
            <h3 class="title">FURNITURE TRANSPORTING SERVICE</h3>
            <p class="body-text">We use a variety of packing materials and carefully pack all your items to protect them from being damaged in the move. Our movers are well trained to ensure your belongings are transported safely to your destination. We realise moving is stressful. Therefore, we want to 
              take the stress out of moving day by providing a team of professional, experienced and friendly movers.</p>
            <h4 class="h">We invite you to “EXPERIENCE EXCELLENCE IN MOVING”</h4>
          </div>
        </div>
      </div>
  </div>
</div>
<owl-carousel-o [options]="customOptions" >
  <ng-template carouselSlide>
    <div class="div">
      <div>
        <img src="../../../assets/img/l1.png" alt="">
        <div class="caption" style="width: 100%;">
          <h3>FURNITURE ELEVATING SERVICE</h3>
          <p>Providing hoist truck for elevating furniture to high floors.</p>
      </div>
      </div>
      <div>
        <img src="../../../assets/img/l2.jpg" alt="">
        <div class="caption" style="width: 100%;">
          <h3>SCREWING &amp; UNSCREWING</h3>
          <p>We provide screwing and unscrewing service to protect your 
              furniture and goods, so that your goods arrive in the same condition.</p>
      </div>
      </div>
      <div>
        <img src="../../../assets/img/l3.jpg" alt="">
        <div class="caption" style="width: 100%;">
          <h3>INSTALLING &amp; OPERATING ELECTRONICS</h3>
          <p>Wrapping your electronics to be delivered in
             the same condition. Then Installing and operating your them is another service we provide.</p>
      </div>
      </div>
    </div>
  </ng-template>  
  <ng-template carouselSlide>
    <div class="div">
      <div>
        <img src="../../../assets/img/l4.jpg" alt="">
        <div class="caption" style="width: 100%;">
          <h3>FURNITURE ELEVATING SERVICE</h3>
          <p>Providing hoist truck for elevating furniture to high floors.</p>
      </div>
      </div>
      <div>
        <img src="../../../assets/img/l5.jpg" alt="">
        <div class="caption" style="width: 100%;">
          <h3>SCREWING &amp; UNSCREWING</h3>
          <p>We provide screwing and unscrewing service to protect your 
              furniture and goods, so that your goods arrive in the same condition.</p>
      </div>
      </div>
      <div>
        <img src="../../../assets/img/l6.jpg" alt="">
        <div class="caption" style="width: 100%;">
          <h3>INSTALLING &amp; OPERATING ELECTRONICS</h3>
          <p>Wrapping your electronics to be delivered in
             the same condition. Then Installing and operating your them is another service we provide.</p>
      </div>
      </div>
    </div>
  </ng-template>  
  </owl-carousel-o>

  <section class="why">
    <div class="container">
        <div class="text text-center">
           
            <h2>Why Choose 3ala fen ??</h2>
            <div class="divider-1 wow fadeInUp"><span></span></div>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <img src="../../../assets/img/bb.png">
                    <div class="layer text-center">
                        <h3>Various means of Transportation</h3>
                        
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <img src="../../../assets/img/sp.png">
                    <div class="layer text-center">
                        <h3>Speed</h3>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <img src="../../../assets/img/loc.png">
                    <div class="layer text-center">
                        <h3>Track your order </h3>
                        
                    </div>
                </div>
               
                

                
                  <div class="col-sm-6 col-md-6 col-lg-4">
                      <img src="../../../assets/img/taxx.png">
                      <div class="layer text-center">
                          <h3>Tax invoice</h3>
                          
                      </div>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-4">
                      <img src="../../../assets/img/cash.png">
                      <div class="layer text-center">
                          <h3>Cash and Visa</h3>  
                      </div>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-4">
                      <img src="../../../assets/img/in.png">
                      <div class="layer text-center">
                          <h3>Insurance service</h3>
                          
                      </div>
                  </div>
                 
                  </div>
        </div>
        </div>
</section>
<section class="feature">
  <div class="container">
      <div class="text text-center">
          <span>Transportation</span>
          <h2>Different Transportation</h2>
          <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-4">
                  <img src="../../../assets/img/van.png">
                  <div class="layer text-center">
                      <h3>Van</h3>
                      <p>If some pepole with small boxs you can order it.</p>
                  </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-4">
                  <img src="../../../assets/img/semi.png">
                  <div class="layer text-center">
                      <h3>Semi-truck</h3>
                      <p>if you want to transport your goods or any thing but not very larg you can order it.</p>
                  </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-4">
                  <img src="../../../assets/img/truck.png">
                  <div class="layer text-center">
                      <h3>Truck</h3>
                      <p>if you want to transport your goods or any (larg things) you can order it.</p>
                  </div>
              </div>
             
              </div>
          </div>
      </div>
</section>
<app-footer></app-footer>